.loan-chart{
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 24px;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loan-chart .recharts-wrapper{
    aspect-ratio: 3;
    width: 100%;
}


.loan-chart__card-label{
    align-self: flex-start;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--muted);
    margin-bottom: 1rem;
}

.loan-chart__label{
    font-size: .75rem;
    font-family: var(--mono);
    text-anchor: middle;
}

.loan-chart__tooltip{
    font-size: .75rem;
    font-family: var(--mono);
    background-color: var(--bg);
    border: 1px solid var(--border);
    padding: 1rem;
}


@media (max-width: 650px){
    .loan-chart .recharts-wrapper{
        aspect-ratio: 1.5;
    }
}