.app {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 24px;
}

.grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto auto;
  gap: 16px;
}

input[type=number] {
  width: 100%;
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  color: var(--text);
  font-family: var(--mono);
  font-size: .75rem;
  padding: .5rem .75rem;
  outline: none;
  transition: border-color 0.15s;
}

input[type=number]:focus {
  border-color: var(--accent);
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 0.3;
}


@media (max-width: 650px){
  .app {
    max-width: 100%;
    padding: 20px 12px 20px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }
}